<h1>{{content.name}}</h1>
<p>{{content.description}}</p>

<div id="actions-row">
  <div class="left">
    {{#linkTo project.newIssue content class="btn black" activeClass="disabled"}}New Issue{{/linkTo}}
  </div>
  <div class="right">
    <div class="btn-group">
      <a {{action toggleMine}} {{bindAttr class=":btn mine:active"}}>Only Mine</a>
    </div>
    <div class="space"></div>
    <a {{action changeFilter "filters.all"}} {{bindAttr class=":btn isAll:red"}}>All {{all.length}}</a>
    <a {{action changeFilter 'filters.open'}} {{bindAttr class=":btn isOpen:red"}}>Open {{open.length}}</a>
    <a {{action changeFilter 'filters.closed'}} {{bindAttr class=":btn isClosed:red"}}>Closed {{closed.length}}</a>
    <a {{action changeFilter 'filters.today'}} {{bindAttr class=":btn isToday:red"}}>Due {{dueToday.length}}</a>
    <a {{action changeFilter 'filters.overdue'}} {{bindAttr class=":btn isOverdue:red"}}>Overdue {{overdue.length}}</a>
  </div>
</div>

{{outlet}}

{{render projectIssues}}
