<div {{bindAttr class=":field errors.name:error"}}>
  {{view Ember.TextField valueBinding="content.name"}}
</div>
<div {{bindAttr class=":field errors.description:error"}}>
  {{view Ember.TextArea valueBinding="content.description"}}
</div>
<div class="actions">
  <a {{action cancel}} class="btn">Cancel</a>
  <a {{action save}} class="btn">Create Project</a>
</div>
